

<ul class="list">

<li ng-repeat="account in accounts">
	<a href="#/account/{{account.id}}"> 
	<div class="circle">
		<span class="image-wrap" style="position:relative; display:inline-block; background:url(images/kid_sweater.jpeg) no-repeat center center; width: 100px; height: 100px;">
			<img src="images/kid_sweater.jpeg" style="opacity: 0;">
		</span>
	</div>
	<h3>{{account.name}}</h3>
	<span class="chevron"></span>
	<span class="count">{{account.balance | currency}}</span>
	</a>
	
</li>

</ul>
